/** General Config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

/* Transição */
body, header {
    flex-wrap: wrap;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
body.loaded {
    opacity: 1;
}

/* Temas do corpo */
body {
    background-image: url("../assets/main/light-theme-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    font-family: "Cabin", sans-serif;
}

body.dark-theme {
    background-image: url("../assets/main/dark-theme-background.png"); 
    color: #E0E0E0;

}

/* Temas do cabeçalho */
header {
    display: flex;
    background-color: snow;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: 11vh;
}

header.dark-theme {
    background-color: #1e1d24;
}

/* Temas da linha */
body hr {
    border: none;
    height: 1px; 
    background-color: #cfcfcf; 
}

body.dark-theme hr {
    background-color: #3c3b3d;

}

/** Header style */
/* Logo */
.logo img {
    height: 6vh;
    margin-left: 1rem;
}

/* Barra de Pesquisa */
.search-container {
    position: relative;
    width: 20vw; 
    margin-left: 2rem; 
    margin-right: 3rem;
}

.search input {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%; 
    height: 2.6rem;
    padding-left: 2.5rem; 
    font-size: 0.9rem;
    color: #333;
    margin: 0; 
}

body.dark-theme .search input {
    background-color: #2e2c36;
    color: #e0e0e0;
    border: 1px solid #555;
}

.search input::placeholder {
    color: #9d9d9d;
}

body.dark-theme .search input::placeholder {
    color: #b0b0b0;
}

/* Ícone de Pesquisa */
.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

body.dark-theme .search-icon {
    filter: invert(1); 
}

/* navegação entre páginas */

.navegation a {
    margin-left: 1.2rem;
    color: 	#525252;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
}

body.dark-theme .navegation a {
    color: 	#b6b6b6;
}

.navegation a.active {
    color: rgb(77, 77, 255);
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline Clima */
.link-clima:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline radar */
.link-radar:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline historico */
.link-historico:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline saude */
.link-saude:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline natureza */
.link-natureza:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

.link-natureza {
    margin-right: 3rem;
}

/* Trocar unidade de medida */
.measure-button {
    margin-left: 1.2rem;
    background: none;
    border: none;
    color: #525252;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.measure-button:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}


body.dark-theme .measure-button {
    color: #b6b6b6;
}

/* Botão de mudar tema */
.switch-theme button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 4.5rem; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.switch-theme button:hover {
    transform: scale(1.1);
}

#theme-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
}

/* Login button */
.login-button {
    width: 10vw;
    height: 6vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #096edb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    margin-left: 4.5rem;
    font-size: 20px;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
}

.login-button b {
    margin-left: 1.2rem;
}

.login-button:hover {
    background-color: #0b5eb6;
}

.login-button img {
    width: 1.5rem;
    height: 1.5rem;
    justify-content: left;
    margin-left: 1.5rem;
}

@media (max-width: 768px) {
    .login-button {
        display: none;
    }
  
    .search-container {
        display: none;
    }

    .measure-button {
        display: none;
    }

    .switch-theme {
        display: none;
    }

    .navigation a {
        font-size: 0.5rem;
    }

    .login-box .left {
        display: none;
    }

    .login-box .right {
        width: 70vw;
        border-radius: 8px;
    } 
}

@media (max-width: 992px) {
    .login-button {
        width: 2rem;
        height: 2rem;
        font-size: 0;
        margin-left: 1.5rem;
        justify-content: center;
    }
  
    .login-button b {
        display: none;
    }

    .navigation a{
        margin-left: 0.5rem;
    }

    .logo {
        content: url("../assets/header/umbrella-icon.png");
        height: 5vh;
        margin-left: 1.5rem;
    }
    
    .login-box {
        padding-left: 2vw;
        padding-right: 2vw;
    }

  }

@media (max-width: 1200px) {
    .link-natureza {
        margin-right: 2rem;
    }
    .login-button {
        margin-left: 2rem;
    }

    .login-button b {
        font-size: 12px;
    }

    .login-button img {
        margin-left: 0.8rem;
        height: 1.2rem;
        width: 1.2rem;
    }

    .search-container {
        width: 13vw;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 1400px) {
    .login-button {
        margin-left: 2rem;
    }
    .measure-button {
        margin-left: 0rem;
    }

    .switch-theme button {
        margin-left: 2rem;
    }
    .navigation a{
        margin-left: 1rem;
    }
}

body.dark-theme .login-button {
    background-color: #317ecc;
}

body.dark-theme .login-button:hover {
    background-color: #276aac;
}

/** Main Style */
/** index Page */
.index-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    padding: 6vh;
}
.now-weather-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 45vh;
    width: 25vw;
}

.today-weather-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 45vh;
    width: 50vw;
}

.index-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
}

.week-weather-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 77.5vw;
}

.index-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    padding: 6vh;
}

.polen-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 45vh;
    width: 25vw;

}

.ar-quality-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 45vh;
    width: 50vw;

}

body.dark-theme .now-weather-box{
    background-color: #1e1d24;
}

body.dark-theme .today-weather-box {
    background-color: #1e1d24;
}

body.dark-theme .week-weather-box {
    background-color: #1e1d24;
}

body.dark-theme .polen-box{
    background-color: #1e1d24;
}

body.dark-theme .ar-quality-box{
    background-color: #1e1d24;
}

/** Radar Page */
.radar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vh;
}
.radar-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 85vh;
    width: 80vw;

}
body.dark-theme .radar-box {
    background-color: #1e1d24;
} 

/** History Page */

.history-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vh;
}

.history-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60vh;
    width: 80vw;

}

body.dark-theme .history-box {
    background-color: #1e1d24;
}

/** Health Page */
.health-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    padding-top: 6vh;
}

.complete-ar-quality-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60vh;
    width: 50vw;
}

.complete-polen-box1 {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60vh;
    width: 30vw;
}

.complete-polen-box2 {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 70vh;
    width: 82.5vw;
}

.complete-polen-box3 {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 70vh;
    width: 82.5vw;
    margin-bottom: 6vh;
}

body.dark-theme .complete-ar-quality-box {
    background-color: #1e1d24;
}

body.dark-theme .complete-polen-box1 {
    background-color: #1e1d24;
} 

body.dark-theme .complete-polen-box2 {
    background-color: #1e1d24;
}

body.dark-theme .complete-polen-box3 {
    background-color: #1e1d24;
}

/** Nature Page */
.nature-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    padding: 6vh;
}

.sun-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 35vw;
}

.moon-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 35vw;
}

.nature-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    padding-bottom: 6vh;
}

.wind-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 35vw;
}

.sea-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 35vw;
}

body.dark-theme .sun-box {
    background-color: #1e1d24;
}

body.dark-theme .moon-box {
    background-color: #1e1d24;
}

body.dark-theme .wind-box {
    background-color: #1e1d24;
}

body.dark-theme .sea-box {
    background-color: #1e1d24;
}

/** login page */
.login-box {
    align-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 9vh;
    padding-top: 9vh;
    padding-left: 13vw;
    padding-right: 13vw;

}

.left {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white; 
    width: 65vw;
    height: 80vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

.right {
    padding-right: 4vw;
    padding-left: 4vw;
    justify-items: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 40vw;
    height: 80vh;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.left img {
    height: 80vh;   
}

.right a img {
    width: 27px;
    margin-top: 8vh;
    cursor: pointer;
    transition: transform 0.2s;
}

.right a img:hover {
    transform: scale(1.1);
}

.right h1 {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    color: #525252;
    margin-bottom: 1rem;

}

.inputs input {
    width: 19rem;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 1rem;
}

.label-login {
    font-size: 14px;
    margin-top: 1rem;
    margin-right: 3.2rem;
    text-decoration: none;
}

.login-check {
    justify-content: center;
    justify-items: center;
}
.label-login input[type="checkbox"] {
    width: 17px;
    height: 17px;
    border: 0.5px solid #000000;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
    vertical-align: middle;
}

.forgot-pass {
    text-decoration: none;
    color: #096edb;
    font-weight: bold;
}

.forgot-pass:hover {
    color: #0b5eb6;
}

.google-icon {
    display: flex;
    align-items: center;
}

.google-icon a img {
    height: 2.3rem;
    width: 2.3rem;
    margin-top: 2rem;
    margin-left: 9vw;
    cursor: pointer;
    transition: transform 0.2s;
}

.sign-button {
    padding: 15px;
    background-color: #096edb;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    width: 19rem;
    margin-bottom: 1rem;
}

.sign-button:hover {
    background-color: #0b5eb6;
}

.label-login2 {
    margin-left: 5vw;
    font-size: 14px;
}

.label-login2 a{

    font-size: 14px;
    color: #096edb;
}

.label-login2 a:hover {
    color: #0b5eb6;
}



body.dark-theme .left {
    background-color: #1e1d24; 

  }

body.dark-theme .right {
    background-color: #1e1d24;

}

body.dark-theme .right h1 {
    color: #b6b6b6;
}

body.dark-theme .inputs input {
    background-color: #2e2c36;
    color: #e0e0e0;
    border: 1px solid #555;

}

body.dark-theme  .label-login input[type="checkbox"]{
    background-color: #555;
}

.forgot-pass {
    text-decoration: none;
    color: #096edb;
    font-weight: bold;
}

.forgot-pass:hover {
    color: #0b5eb6;
}

.sign-button {
    padding: 15px;
    background-color: #096edb;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    width: 19rem;
    margin-bottom: 1rem;
}

.sign-button:hover {
    background-color: #0b5eb6;
}

.label-login2 {
    font-size: 14px;
}

.label-login2 a {
    text-decoration: none;
    font-size: 14px;
    color: #096edb;
}

.label-login2 a:hover {
    color: #0b5eb6;
}

/** Recover Password Page */
.recover-password-button {
    padding: 15px;
    background-color: #096edb;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    width: 19rem;
    margin-bottom: 1rem;
}

.recover-password-button:hover {
    background-color: #0b5eb6;
}

/* Estilos gerais do footer */
footer {
    background-color: snow;
    color: #525252;
    padding: 15px 0;
}

/* Container principal */
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

/* Seções individuais do footer */
.footer-section {
    width: 22%;
    min-width: 200px;
    margin-bottom: 20px;
}

/* Títulos das seções */
.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilo dos links */
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #525252;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

/* Rodapé inferior */
.footer-bottom {
    text-align: center;
    padding: 3px;
    font-size: 14px;
}
body.dark-theme footer{
    background-color: #1e1d24;
    color: #ecebeb;
}
body.dark-theme .footer-section ul li a {
    color: #a8a8a8;
    text-decoration: none;
    transition: 0.3s;
}

body.dark-theme .footer-section ul li a:hover {
    text-decoration: underline;
}