@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

/* Transição */
body, header {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Temas do corpo */
body.light-theme {
    background-color: #F5F5F5;
    font-family: "Cabin", sans-serif;
}

body.dark-theme {
    background-color: #2e2c36;
    font-family: "Cabin", sans-serif;
    color: #E0E0E0;

}

/* Temas do cabeçalho */
header.light-theme {
    display: flex;
    background-color: snow;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: 4.8rem;
}

header.dark-theme {
    display: flex;
    background-color: #1e1d24;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: 4.8rem;
    color: #ecebeb;
}

/* Temas da linha */
body.light-theme hr {
    border: none;
    height: 1px; 
    background-color: #cfcfcf; 
}

body.dark-theme hr {
    height: 1px;
    border: none; 
    background-color: #3c3b3d; 
}

/* Logo */
.logo img {
    max-height: 3.7rem;
    margin-left: 2rem;
}

/* Barra de Pesquisa */
.search input {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ccc; 
    width: 25rem;
    height: 2.6rem;
    margin-left: 2rem;
    margin-right: 7rem;
    font-size: 0.9rem;
    color: #333;
}

body.dark-theme .search input {
    background-color: #2e2c36;
    color: #e0e0e0; 
    border: 1px solid #555;
    box-sizing: border-box;
}


.search input::placeholder {
    color: #9d9d9d;
    margin-left: 10rem;
    
}

body.dark-theme .search input::placeholder {
    color: #b0b0b0;
}

/* Barra de Navegação */
.navegation a {
    margin-left: 1.2rem;
    color: 	#525252;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    
}

body.dark-theme .navegation a {
    margin-left: 1.2rem;
    color: 	#b6b6b6;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    
}

/* underline de cada elemento da barra de navegação */
/* underline clima */
.link-clima:hover{
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

body.dark-theme .link-clima:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline radar */
.link-radar:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

body.dark-theme .link-radar:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline historico */
.link-historico:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

body.dark-theme .link-historico:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline saude */
.link-saude:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

body.dark-theme .link-saude:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* underline natureza */
.link-natureza:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

body.dark-theme .link-natureza:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

.link-natureza {
    margin-right: 4rem;
}

/* Trocar unidade de medida */
.measure-button {
    margin-left: 1.2rem;
    background: none;
    border: none;
    color: #525252;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.measure-button:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

body.dark-theme .measure-button {
    background: none;
    border: none;
    color: #b6b6b6;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

body.dark-theme .measure-button:hover {
    text-decoration: underline;
    color: rgb(77, 77, 255);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

/* Botão de mudar tema */
.switch-theme button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 6.5rem; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#theme-icon {
    width: 40px;
    height: 40px;
}